body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}


header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 40px 0;
}

header h1 {
  font-size: 48px;
  margin: 0;
}

header .tagline {
  font-size: 18px;
  margin-top: 10px;
}


section {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 32px;
  color: #007bff;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

h2 i {
  margin-right: 10px;
}

p,
ul.skills-list {
  font-size: 18px;
  line-height: 1.6;
}


.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  margin-bottom: 10px;
}

.skills-list i {
  color: #007bff;
  margin-right: 10px;
}


.project-item {
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.project-item h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.project-item a {
  color: #007bff;
  text-decoration: none;
}

.project-item a:hover {
  text-decoration: underline;
}


.carousel-section {
  position: relative;
}

.carousel {
  display: flex;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-images {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-images img {
  width: 100%;
  border-radius: 8px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}


